body{
    font-family: Arial;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}


/*sign up style*/
* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 3px;
    background-color: white;
}

.content{
    width: 30%;
    background: #fff;
    margin: 8% auto 15% auto;
    border-radius: 3px;
    box-shadow: 0 0 15px #555;
    padding: 20px;
    animation: zoom 0.6s;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 3px;
    margin: 3px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 3px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #974caf;
    color: white;
    padding: 3px 4px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}