body{
    font-family: Arial;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/* Header/Logo Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}


/*sign up style*/
* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 3px;
    background-color: white;
}

.content{
    width: 30%;
    background: #fff;
    margin: 8% auto 15% auto;
    border-radius: 3px;
    box-shadow: 0 0 15px #555;
    padding: 20px;
    animation: zoom 0.6s;
}

.modal-content{
    width: 30%;
    background: #fff;
    margin: 8% auto 15% auto;
    border-radius: 3px;
    box-shadow: 0 0 15px #555;
    padding: 20px;
    animation: zoom 0.6s;
}

.modal-img{
    text-align: center;
    position: relative;
    margin: 20px 0 10px 0;
    margin-bottom: 20px;
}

.modal-img img{
    width: 40%;
    box-shadow: 0 0 15px #666;
    border-radius: 50%;
}

.item-img{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
}

.item-typo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.inner-button{
    border-radius: 15px;
    overflow: hidden;
    display: block;
    text-align: center;
    padding: 23px 15px 20px;
    transition: all 0.25s ease 0s;
}
.button-item{
    padding: 0px 5px;
    margin-bottom: 10px;
    width: 33.3333%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 160px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 40px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 3px;
    margin: 3px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 3px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #974caf;
    color: white;
    padding: 6px 4px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}



.open-button {
    background-color: #4caf52;
    color: white;
    padding: 6px 4px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}
.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;

}
/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #4a363608;
    position: absolute;
    left: 550px;
    width: 558px;
    height: 380px;
    top: -300px;
    border-block: inherit;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.parag{
    color: gray;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #4CAF50;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}